---
import { Sidebar } from "../components/sidebar";
import { Window } from "../components/window";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Martin Aguayo Site!">
  <main>
    <nav
      class="flex justify-center items-end md:justify-end md:ml-0 md:pr-[0.5rem] h-8 w-full"
    >
      <Image
        src="/assets/picture-w98.png"
        alt="Icono"
        width={25}
        height={25}
        class="cursor-pointer hover:scale-110"
      />
    </nav>
    <div class="flex gap-x-10 mt-2">
      <Sidebar client:only="react" />
      <Window label="Work" client:only="react" />
    </div>
  </main>
</Layout>
