---
import { Sidebar } from "../components/sidebar";
import { Window } from "../components/window";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Martin Aguayo Site!">
  <main>
    <nav class="flex justify-end mr-[2rem]">Iconos</nav>

    <div class="flex gap-x-20 pt-12 px-4 w-full">
      <Sidebar />
      <Window label="Work" />
    </div>
  </main>
</Layout>
